/* Enter your custom styles here */

.sapMMsgStrip {
    border: 1px solid;
    border-radius: 0.1875rem;
    box-sizing: border-box;
    font-size: .875rem;
    font-weight: normal;
    padding: 0.4375rem 1rem;
    position: relative;
    min-height: 2rem;
    text-align: center;
}

.sapMTB-Info-CTX.sapMTB {
    background: #346187;
    color: #ffffff;
}

.sapMSwtLabel {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
    width: 2rem;
    text-transform: inherit;
    line-height: inherit;
}

.popoverCostDriver .sapUiTableHdr {
    display: flex;
    align-items: center;
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: transparent;
    min-height: 0rem;
}

.popoverCostDriver .sapUiTableHeaderRow {
    background-color: #2d5475;
}

.popoverCostDriver .sapUiTableHeaderCellActive {
    background-color: #2d5475;
}

.popoverCostDriver .sapMPopoverHiddenFocusable {
    background-color: #2d5475;
}

.popoverCostDriver .sapUiTableCell .sapMLabel {
    color: white;
    background-color: #2d5475;
}